@model CourseSystem.Models.TeacherCourse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TeacherCourse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseGrade.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { teacherId=Model.TeacherId,CourseGradeId=Model.CourseGradeId }) |
    <a asp-action="Index">Back to List</a>
</div>
