@model IEnumerable<CourseSystem.Models.DersIcerik>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { courseId=item.CourseId, contentId=item.ContentId }) |
                @Html.ActionLink("Details", "Details", new { courseId=item.CourseId, contentId=item.ContentId }) |
                @Html.ActionLink("Delete", "Delete", new { courseId=item.CourseId, contentId=item.ContentId })
            </td>
        </tr>
}
    </tbody>
</table>
